body {
    background-color: #0f0c0c;
    color: #ada9a9;
    font-family: 'Sevillana', cursive;
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #288f6b;
    font-family: 'Sevillana', cursive;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h3 {
    margin: 25px;
}

p{
    margin-left: 20px;
    font-size: 2rem;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #ada9a9;
    border-width: 5px;
    width: 5%;
}

.container-fluid {
    padding: 5%;
}


/* Navigation Bar */

.navbar {
    padding: 4.5rem;
}

.navbar-brand {
    color: rgb(154, 87, 6);
    font-family: 'Sevillana', cursive;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Sevillana', cursive;
}

.row {
    margin: 10px;
}

.col {
    padding-bottom: 20px;
}

table{
    margin-right: 15px;
}

.tbody{
    padding: 10px;
}